extends base

block content
    main.main
    
        h2 Developer Introduction
        .main__section 
            h3.section__header About The Developer
            p My name is Richard Guilliams and I'm a Javascript Developer who has been practicing Javascript and NodeJS for the past three years. I wish to pursue a career in NodeJS development and build scalable, real-time applications and websites.
            p Since the beginning of my studies, I have longed for the guidance of a mentor. The skills I have acquired thus far have been on my own accord, through Udemy, Youtube, Stack Overflow and various coding websites. My self-taught developer journey has not been an easy one; I doubted my capabilities frequently, in addition to having a full-time job. However, through perseverance and determination, I have overcome every obstacle I encountered. I am here now with the confidence and knowledge that I will continue to hone my skill-set as a developer.
            p As a young boy, I loved video games. I have many fond memories of playing The Legend of Zelda, Super Mario 3, and Megaman 2 with my dad. We spent hours of quality time together playing games. I grew up in a low-income neighborhood and video games became a much needed escape. I was able to leave reality and get lost in another world. Because of that, games will always have a special place in my heart.
        .main__section
            h3.section__header Why I Want To Work For IGN
            p I never considered the possibility that I could work for an incredible company like IGN. I came across an ad for the internship earlier two weeks ago and immediately knew this was the perfect opportunity for me. I already had prior knowledge of IGN; for years, the site has been a vital resource in my researching of game purchases. My interest sky-rocketed when I noticed the Pokemon question. Pokemon is one of my favorite game series and I have a passion for everything video game. It would be a dream come true to work with a company that has gaming as one of its major interests. 
            p My excitement was ignited even further when I saw that the internship required a real project to be submitted, rather than a resume. I have no professional developing experience, but I am entirely confident that I can do the work. I was incredibly drawn to this internship because of the opportunity to show my skills in a custom-built project.

        .main__section
            h3.section__header Why IGN Should Choose Me
            p IGN should select me for this internship for several reasons. First off, I am very passionate about learning and progressing in my craft. There is no obstacle or problem that I cannot overcome with time, practice, and research. Given the opportunity, I have no doubt that I will prove my devotion to this line of work.
            p Secondly, I have an unwavering love for both games and movies and I have been a fan of IGN for many years. My excitement to work with the IGN team will be reflection in my optimism and I will work to the absolute best of my capabilities.
            p Thirdly, I believe deeply in my ability to learn and because of that, I will swiftly adapt to fit in with the team and learn the coding standards IGN holds.
            p Finally, I know in my heart that IGN and I will resonate well because my passions align heavily with both games and movies. 
            p If IGN were to select me for this internship, I would not only prove my value and give my utmost effort, but I would bring optimism and joy to the IGN team.

        .main__section 
            h3.section__header About This Project 
            p I really enjoyed designing and building this project. It was challenging, as it was my first real project outside of my Udemy courses. It is thrilling to have it reviewed by the IGN team.
            p Looking back, there are several things I would do to improve the code, such as refactoring the DOM updates, some of the event listeners, and implementing admin features like editing and deleting polls. I'd also think deeper about class naming in the HTML to make the CSS easier to read and work with.
            p This was the first time I have used Socket IO and I was very inspirited to finally dive into using real-time communication. If given the time, I would also implement more real-time features such as the capability of starting a comment thread on polls. 
            p However, this project was built with the limitation of not only the deadline which for myself was two weeks, but the fact that I am currently working a full-time job. Regardless of this, I have submitted the greatest work I am capable of and hope that this project will show my desire to work with IGN and the potential I have as a developer.