extends base

block content
    main.main
        ul         
            li: a.main__btn.nav__el.nav__el--cta(href='/introduction ') Introduction Letter
            li: a.main__btn.nav__el.nav__el--cta(href='/powerplant ') Jubilife Village Powerplant
            li: a.main__btn.nav__el.nav__el--cta(href="/polls") Polling Application