footer.footer 
    .footer__logo 
        include ./_logo.pug

    ul.footer__nav 
        li: a(href='/introduction') About
        li: a(href='/polls') Polling App
        li: a(href='/powerplant') Voltorb Powerplant

    p.footer__copyright &copy; by Richard Guilliams